#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define UPL 1
#define DOWNL 2
#define NAVL 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &lt NAVL A   &kp S   &lt UPL D   &lt DOWNL F   &kp G   &kp DEL   &kp BSPC   &mt LCTRL ESC   &mt LSHFT ENTER   &kp SPC   &kp CAPS   &kp H   &lt DOWNL J  &lt UPL K   &kp L   &kp SEMICOLON
            >;
        };

        up_layer {
            bindings = <
                &kp Q   &kp W   &kp E   &kp R   &kp T   &trans   &trans   &trans   &trans   &trans   &trans   &kp Y   &kp U   &kp T   &kp O   &kp P
            >;
        };

        down_layer {
            bindings = <
                &kp Z   &kp X   &kp C   &kp V   &kp B   &trans   &trans   &trans   &trans   &trans   &trans   &kp N   &kp M   &kp COMMA   &kp DOT   &kp SLASH
            >;
        };

        nav_layer {
            bindings = <
                &none   &kp LALT(S)   &kp LALT(D)   &kp LALT(F)   &kp LALT(G)   &trans   &trans   &trans   &trans   &trans   &trans   &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &none
            >;
        };
    };
 };